.idea
*.pyc

corpus_convert/data
corpus_convert/output*
corpus_convert/saxon*
corpus_convert/Saxon*
corpus_convert/*.txt
corpus_convert/log*
corpus_convert/*.log
corpus_convert/*.xq

# alpino2tab
corpus_convert_alpino/output*
corpus_convert_alpino/*.txt
corpus_convert_alpino/*.log
corpus_convert_alpino/test*
corpus_convert_alpino/tmp*
corpus_convert_alpino/*.bak
corpus_convert_alpino/*files
